/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
.D,.A{
      color: red;
   }
.tit{
   font-size: 15px;
   font-weight: 20px;
}
.row h2{
   text-align: center;}
.im2{
   width:100%;
}
footer{
   margin-bottom: 20px;
   margin-left: 25px;
}
.full{
   background: url('../../images/online2.jpg') no-repeat;
   width:100%;
   height:600px;
   margin-top: 50px;
   background-size: cover;
   position:relative;
   top:0;
   z-index: -9999;
}
.wel{
   background-color: black;
   opacity:0.5;
   margin-left: 50px;
   font-size:38px;
   color:white;
   padding: 5px;
   position:absolute;
   top:270px;
}
/* --------------------------------------
   Typography
   -------------------------------------- */

ul.unstyled{
   list-style: none;
   padding: 0;
}
.unstyled{
   margin-top: 20px;
}
.unstyled a{
   color: black;
}
.unstyled a:hover{
   color: blue;
}
.im{
   padding: 25px 0 0 5px;
}
.im1{
   margin-top: 20px;
   padding: 0 0 10px 0px;
}
.off h2{
   font-family: 'Lobster', cursive;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-text{
   font-size: 25px;
   font-family: 'Lobster', cursive;
}
p.navbar-text{
   padding-bottom: 4px;
   margin: 10px 15px;
}
.navbar-header{
   margin-bottom: -8px;
}
.navbar-brand{
   padding: 10px 15px;
}
.navbar-default .navbar-nav li a{
   color: black;
}
.navbar-default .navbar-nav li a:hover{
   color: blue;
}
.navbar-default .navbar-nav li a#active{
   color: blue;
}  
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
.carous{
   margin-top: 10px;
}
#mycarousel{
   margin-top: 10px;
}
#mycarousel .item{
   height:350px;
}
#slide1{
   background: url('../../images/a2.jpg') top no-repeat;
}
#slide2{
   background: url('../../images/c2.jpg') top no-repeat;
}
#slide3{
   background: url('../../images/d2.jpg') top no-repeat;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px ) {
.off h2{
   margin-top: -20px;
   font-size: 24px;
}
.full{
    background: url('../../images/online5.jpg') no-repeat;
}
.wel{
   width:250px;
   height:75px;
   font-size:12px;
   margin-left:20px;
   padding-top:5px;
   padding-left: 5px;
   top:120px;
}
.sear{
   margin-top: 10px;
}
#mycarousel .item{
   height:120px;
}
.carous{
   margin-top: -230px;
}
#slide1{
   background: url('../../images/a4.jpg')top center no-repeat;
}
#slide2{
   background: url('../../images/c4.jpg')top center no-repeat;
}
#slide3{
   background: url('../../images/d4.jpg')top center no-repeat;
}
.aln{
   text-align: center;
}
footer{
   margin-bottom: -20px;
   margin-left: -25px;
}
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 768px){
#mycarousel .item{
   height:260px;
}
.carous{
   margin-top: -30px;
}
.off h2{
   margin-top: -20px;
   font-size: 30px;
}
.full{
    background: url('../../images/online4.jpg') no-repeat;
    height:600px;
}
.wel{
   width:600px;
   height:150px;
   font-size:22px;
   margin-left:60px;
   padding-top:20px;
   top:270px;
}
.navbar-form{
   margin-left: 30px;
}
ul.nav.navbar-nav.home {
   padding-left: -40px;
   margin-left: -40px;
}
ul.nav.navbar-nav.account {
   margin-left: 35px;
}
.footer{
   height:200px;
}
#slide1{
   background: url('../../images/a3.jpg')top center no-repeat;
}
#slide2{
   background: url('../../images/c3.jpg')top center no-repeat;
}
#slide3{
   background: url('../../images/d3.jpg')top center no-repeat;
}

}

/* Large desktop */
@media (min-width: 1200px) {
#mycarousel .item{
   height:430px;
}
.full{
    background: url('../../images/online2.jpg') no-repeat;
}
#slide1{
   background: url('../../images/a1.jpg') top no-repeat;
}
#slide2{
   background: url('../../images/c1.jpg') top no-repeat;
}
#slide3{
   background: url('../../images/d1.jpg') top no-repeat;
}	
}